html,
body {
  background-color: $mainBlack;
  background-image: url('imgs/coverBack.png');
  background-repeat: repeat;
  background-size: contain;
  height: 100%;
}
body, input, select, textarea {
		color: #585858;
		font-family: $font;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.75;
	}
h2 {
  text-align: center;
  h3 {
    color: #E6E6E6;
    .nameplate {
      padding: 2rem;
    }
  }
}

#cover {
  background: #222 url('imgs/landingpage.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100%;
}
.col-md-8 {
  background-color: $mainWhite;
  border-radius: 15px;
  margin: 30px;
  margin-left: 60px;
  padding: 50px;
}
.media {
  margin-top: 50px;
}
.media-body {
  position: relative;
}
.col-md-4 {
  padding: 50px;
}
.d-flex {
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(#888888, 0.73);
  width: 40%;
}
.featured {
  margin-top: 20px;
  position: relative;
  width: 200px;
}
.featpic {
  border: 1px solid #D61D1D;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(#888888, 0.73);
  width: 100%;
}
.feattitle {
  color: #E6E6E6;
  margin-top: 10px;
  text-align: center;
}
.featfollows {
  color: #E6E6E6;
  text-align: center;
}

/*FOOTER*/
footer {
background: #1f1e1e;;
border-top: 0.0625em slid lightgrey;
bottom: 0;
color: #eeeeee;
text-align: center;
}

/*PROFILE PAGE*/
.banner {
  padding: 0px 60px 0px 60px;
  text-align: center;
  width: 100%;
}
.profilecont {
  margin-top: -40%;
  text-align: center;
}
.profilepic {
  border-style: outset;
  border-width: thick;
  border-color: #4169e1;
}
.showslist {
  background-color: #E6E6E6;
  margin-left: 10%;
  width: 80%;
}
.ep {
  color: #E6E6E6;
  padding-top: 1rem;
  padding-right: 10%;
}
.vidinfo {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}
h4 {
  padding-bottom: : 1rem;
}


/* REUSED CODE*/
/* Icon */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}
.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

		.icon > .label {
			display: none;
		}

		.icon.style2 {
			-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			background-color: transparent;
			border: solid 1px #c9c9c9;
			border-radius: 4px;
			width: 2.65em;
			height: 2.65em;
			display: inline-block;
			text-align: center;
			line-height: 2.65em;
			color: inherit;
		}

			.icon.style2:before {
				font-size: 1.1em;
			}

			.icon.style2:hover {
				color: #f2849e;
				border-color: #f2849e;
			}

			.icon.style2:active {
				background-color: rgba(242, 132, 158, 0.1);
			}

/* List */
	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px #c9c9c9;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
			margin: -1em 0 2em -1em;
		}

			ul.icons li {
				display: inline-block;
				padding: 1em 0 0 1em;
			}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

							ul.actions li > *.icon:before {
								margin-left: -2em;
							}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 900;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

/* Form */
	form {
		margin: -1em 0 2em 0;
	}

		form:after {
			content: '';
			display: block;
			clear: both;
			height: 1px;
		}

		form .field {
			position: relative;
			float: left;
			margin: 0 0 1.3em 0;
			vertical-align: top;
			width: 100%;
		}

		form .half {
			width: calc(50% + 1em) !important;
			padding-left: 2em;
		}

		form .half.first {
			width: calc(50% - 1em) !important;
			padding-left: 0;
		}

		form :last-child {
			margin-bottom: 0;
		}

		form .half:nth-last-child(2) {
			margin-bottom: 0;
		}

		form .actions {
			position: relative;
			clear: both;
			padding-top: 1em;
		}

		@media screen and (max-width: 480px) {

			form .half {
				width: 100% !important;
				padding-left: 0;
			}

			form .half.first {
				width: 100% !important;
				padding-left: 0;
			}

			form .half:nth-last-child(2) {
				margin: 0 0 1.3em 0;
			}

		}

	label {
		display: block;
		font-size: 0.9em;
		font-weight: 900;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background-color: transparent;
		border: none;
		border-radius: 0;
		border-bottom: solid 1px #c9c9c9;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		select:focus,
		textarea:focus {
			border-bottom-color: #f2849e;
			box-shadow: inset 0 -1px 0 0 #f2849e;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: #c9c9c9;
			content: '\f078';
			display: block;
			height: 3em;
			line-height: 3em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 3em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 3em;
	}

	textarea {
		padding: 0;
		min-height: 3.75em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			color: #585858;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.55em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 4px;
				border: solid 1px #c9c9c9;
				content: '';
				display: inline-block;
				height: 1.8em;
				left: 0;
				line-height: 1.725em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.8em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			background: #585858;
			border-color: #585858;
			color: #ffffff;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before {
			border-color: #f2849e;
			box-shadow: 0 0 0 1px #f2849e;
		}

	input[type="checkbox"] + label:before {
		border-radius: 4px;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

/* Box */
	.box {
		border-radius: 4px;
		border: solid 1px #c9c9c9;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}
